*.xcodeproj
*/.DS_Store
*/*.swp
*/Info.plist
Info.plist
Base.lproj
Pitch Perfect/Base.lproj
Pitch Perfect/Info.plist
Pitch Perfect/Info.plist
Pitch Perfect.xcodeproj/xcuserdata/huNt.xcuserdatad/xcschemes/Pitch Perfect.xcscheme
Lifecycle+Handout.pdf
Perfect.xcodeproj/project.pbxproj
